name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build & Push Docker Image
        run: |
          docker build -t vyavaharevishal/anime-web:latest .
          docker push vyavaharevishal/anime-web:latest

  terraform:
    needs: docker
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      TF_VAR_dockerhub_user: ${{ secrets.DOCKER_USERNAME }}
      TF_VAR_dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
      TF_VAR_ssh_public_key: ${{ secrets.TF_VAR_SSH_PUBLIC_KEY }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      - name: Terraform Init
        run: |
          cd infrastructure
          terraform init
      - name: Terraform Plan
        run: |
          cd infrastructure
          terraform plan -out=tfplan
    
